*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  text-align: center;
  width: 100vw;
}

.collection-container {
  display: block;
  width: 100%;
  background-color: $color-dark-bg;
}

.collection-row {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.collection-col {
  width: 22rem;
  height: 22rem;
  margin: 3px;
  position: relative;

  &__card {
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 0.7rem;
    overflow: hidden;
    perspective: 150rem;
    -moz-perspective: 150rem;
    backface-visibility: hidden;
    transition: all 0.7s ease;

    &--front {
      background-color: $color-dark-bg;;

      img {
        object-fit: cover;
      }
    }

    &--back {
      background-color: $color-light-bg;
      padding: 1rem;
      justify-content: center;
      align-items: center;
      transform: rotateY(-180deg);      
    }
  }

  &:hover &__card--front {
    transform: rotateY(180deg);
  }

  &:hover &__card--back {
    transform: rotateY(0);
    cursor: pointer;
  }
}

.header-container {
  background-color: $color-dark-bg;
  color: $color-light-bg;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  padding: 0 4%;

  .navigation {
    display: flex;

    h3 {
      margin: 0 1.5rem;
      color: $color-link;

      &:hover {
        cursor: pointer;
      }
    }

    .input-container {
      text-align: right;
    }
  
    input {
      width: 100%;
      border-radius: 3px;
      border: 1px solid $color-light-bg;
      background-color: $color-dark-bg;
      padding: 5px;
      color: $color-light-bg;
    }
  }
}

.details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: $color-dark-bg;
  background-color: $color-dark-bg;
  position: relative;
  width: 100%;

  &__info {
    position: absolute;
    width: 100%;
    height: 8rem;
    top: 0;
    background-color: rgba($color-dark-bg, 0.6);
    color: $color-light-bg;
    padding: 1rem;
    text-align: left;
  }

  &__banner {
    height: 8rem;
    overflow: hidden;

    img {
      min-height: fit-content;
    }    
  }

  &__artwork {

    img {
      width: 90%;
      margin: 1.2rem;
      border: 2px solid $color-link;
      outline-offset: 0.4rem;
      outline: 0.3rem solid $color-link;
    }
  }
}